<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM7HzQdgqERQMqGw_XDGthr4jjUYw2DCo</string>
	<key>GCM_SENDER_ID</key>
	<string>502525211046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dna.buma.hris.dev</string>
	<key>PROJECT_ID</key>
	<string>buma-tech-test</string>
	<key>STORAGE_BUCKET</key>
	<string>buma-tech-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502525211046:ios:993dfc8d4d3a6b86c5df67</string>
</dict>
</plist>